<%# the form needs to trigger the 2nd user story - Answer. So action=answer %>
<form action="answer" data-turbo="false">
  <input type="text" name="question">
  <%# name was ???, ít is supposed to be question %>
  <input type="submit" value="Ask!">
</form>
